
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Hello @User.Identity.Name
</p>


http://benfoster.io/blog/aspnet-identity-stripped-bare-mvc-part-1

http://benfoster.io/blog/aspnet-identity-stripped-bare-mvc-part-2